nav{
    width: 100%;
    height: 110px;
    background-color: #2b2b2b;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;

}

.logo{
    height: 20px;
   font-size: 40px;
    font-family: 'Lobster Two', cursive;
    width:20%;
    float: left;
    padding-left: 50px;
    color: white;
   


}
.nav-con{
    width: 600px;
    height: 2px;
    float:right;
    margin-right: 10px;
  padding-top: 20px;
}
.nav-con ul{
list-style: none;
}

.nav-con li{
float: left;
height: 30px;
padding-left:10px;
padding-right:10px;
margin-left: 5px; 
margin-right: 5px;
text-align: center;
width: 100px;
color:white
}

.col-box{
    width: 100%;
    height: 600px;
    background-color:whitesmoke;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;            
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
   color: black;
    border-color: gray;
    border-radius: 5px;
    text-align: center;
  
}

.round-image1{
    
    width: 150px;
    height: 150px;
    background-image: url('../assets/John.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.round-image2{
    
        width: 150px;
        height: 150px;
        background-image: url('../assets/Jane.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    
}

.overlay1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    opacity:0;
}
.overlay1:hover{
    cursor: pointer;
    opacity: 1;
}

.icon1{
    width: 50px;
    height: 50px;
    background-image: url('../assets/remove.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: auto;

}
.round-image3{
    
    width: 150px;
    height: 150px;
    background-image: url('../assets/Susan.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.round-image4{
    
    width: 150px;
    height: 150px;
    background-color: #2b2b2b;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;

}
.icon2{
    width: 50px;
    height: 50px;
    background-image: url('../assets/add.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: auto;

}

.button{
    font-family: 'Lobster Two', cursive;
    height: 35px;
    width: 180px;
text-align: center;
padding-top: 2px;
font-weight: bold;
float: left;
margin-top: 2PX;
border-radius: 5PX;
margin-right: 10px;
background-color: #2b2b2b;
color: white;
margin-left: 50px;
 }

 .button:hover{
    cursor: pointer;
    background-color: white;
    color: #2b2b2b;
    border:2px solid #2b2b2b;
   
 }

 form{
    margin: 0 auto;
   
    background-color: #f7f7f7;
    padding-top: 5px;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.input-el{
    width:90% ;
    height: 35px;
    background-color: lightgray;
    margin-top: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;

}



 footer{
    height: 100px;
    padding-top: 40px;
    text-align: center;
    background-color: #2b2b2b;
    color: white;
 }